* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a{
  text-decoration: none;
}

body{
    background-image: linear-gradient(
    to bottom,
    rgb(240, 164, 65) 50%,
    #f1dbba
  );
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  padding: 15px;
  margin: 0 auto;
  width: 1200px;
}


.title-area{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.logo-area{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1dbba;
 border: 1px solid rgb(114, 17, 17);
}

.logo-image{
  width: 40px;
  height: 40px;
}

.title{
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 700;
  color: #f1dbba;
  text-shadow: 3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000;
  margin: 5px;
  font-family: "Sansita Swashed";
}

.intro-area{
  font-family: "Comic Sans MS";
  font-weight: 700;
  color: #721111;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #f1dbba;
  border: 1px solid rgb(114, 17, 17);
}

.pet-area{
  display: flex;
  flex-direction: column;
}

.pet-selection-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cat-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat-image{
  width:100px;
  height: 100px;
}

.dog-image{
  width:100px;
  height: 100px;
}

.dog-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat-area-label{
 font-family: 'Sacramento';
  font-size: 35px;
  font-weight: 700;
  color: #f1dbba;
  text-shadow: 3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000;
}

.dog-area-label{
 font-family: 'Sacramento';
  font-size: 35px;
  font-weight: 700;
  color: #f1dbba;
  text-shadow: 3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000;
}

.cat-breed-select{
border-radius: 5px;
border: none;
padding: 5px;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
border: 1px solid rgb(114, 17, 17);
color: rgb(114, 17, 17);
}

.dog-breed-select{
border-radius: 5px;
border: none;
padding: 5px;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
border: 1px solid rgb(114, 17, 17);
color: rgb(114, 17, 17);
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.nav-item{
  font-family: 'Comic Sans MS';
  background-color: #f1dbba;
  border: 1px solid rgb(114, 17, 17);
color: rgb(114, 17, 17);
padding: 10px;
border-radius: 10px;
font-weight: 700;
}

.nav-item:hover{
  background-color:rgb(114, 17, 17);
  color: #f1dbba;
}


.pet-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pet-details{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;
width: 1200px;
height: 500px;
border: 1px solid #721111;
padding: 20px;
background-color: #f1dbba;
margin: 20px auto;
border-radius: 30px;
}

.pet-info-title{
  font-family: 'Sacramento';
  font-size: 35px;
  font-weight: 700;
  color: rgb(114, 17, 17); 
}

.pet-bio{
 display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%; 
font-family: 'Comic Sans MS';
font-size: 15px;
font-weight: 700;
color: #721111;
}

.pet-bio-link{
  background-color: rgb(240, 164, 65);
  color: #721111;
  border: 1px solid #721111;
  padding: 20px;
  border-radius: 20px;
}

.pet-bio-link:hover{
  background-color: #721111;
  color: rgb(240, 164, 65);
}


.place-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-details{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;
width: 1200px;
height: 500px;
border: 1px solid #721111;
padding: 20px;
background-color: #f1dbba;
margin: 20px auto;
border-radius: 30px;
}

.place-details-after{
  height: fit-content;
}

.place-info-title{
  font-family: 'Sacramento';
  font-size: 35px;
  font-weight: 700;
  color: rgb(114, 17, 17); 
}

.place-table-wrapper{
 display: flex;
 flex-direction: column;
 gap:10px;
justify-content: center;
align-items: center;
width: 100%;
height: 100%; 
font-family: 'Comic Sans MS';
font-size: 15px;
font-weight: 700;
color: #721111;
}


.place-alt-link{
  background-color: rgb(240, 164, 65);
  color: #721111;
  border: 1px solid #721111;
  padding: 20px;
  border-radius: 20px;
}

.place-alt-link:hover{
  background-color: #721111;
  color: rgb(240, 164, 65);
}

.api-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.api-details{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;
width: 1200px;
height: 500px;
border: 1px solid #721111;
padding: 20px;
background-color: #f1dbba;
margin: 20px auto;
border-radius: 30px;
}

.api-info-title{
  font-family: 'Sacramento';
  font-size: 35px;
  font-weight: 700;
  color: rgb(114, 17, 17); 
}

.api-table-wrapper{
 display: flex;
 flex-direction: column;
 gap:30px;
justify-content: center;
align-items: center;
width: 100%;
height: 100%; 
font-family: 'Comic Sans MS';
font-size: 15px;
font-weight: 700;
color: #721111;
}

.api-gen-table-wrapper{
  display: flex;
 flex-direction: column;
 gap:10px;
justify-content: center;
align-items: center;
}

.api-view-table-wrapper{
  display: flex;
 flex-direction: column;
 gap:10px;
justify-content: center;
align-items: center;
}

.api-use-table-wrapper{
  display: flex;
 flex-direction: column;
 gap:10px;
justify-content: center;
align-items: center;
}

.image-gallery-wrapper{
display: flex;
justify-content: center;
align-items: center;
}

.image-gallery{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap:15px;
}
